.right-menu{
    margin-right: 32px;
}

.fa-shopping-cart{
    font-size: 2rem;
}

#header{
    position: relative;
}

.logo{
    position: absolute;
    left: 0;
    top: 50%;display: none;
    transform: translateY(-50%);
}

