<!-- Header start -->
<header>
  <nav class="site-navigation header-transparent navigation navdown">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="site-nav-inner pull-left">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    >Explore <i class="fa fa-angle-down"></i
                  ></a>
                  <ul class="dropdown-menu custom-dropdown" role="menu">
                    <div class="row">
                      <div class="col-md-4">
                        <ul class="dropdown-section bg-gradient-blue">
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Popular</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Staff picks</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Downloadable</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-listine-dots"></i>
                              Collections</a
                            >
                          </li>
                        </ul>
                        <ul class="dropdown-section border-right">
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Blog</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Forums</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Community Members</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <ul class="dropdown-section border-right">
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Animals & Pets</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Architecture</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Art & Abstract</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Cars & vehicles</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Cultural & History</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Electronics & Gadgets</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Fashion & Style</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <ul class="dropdown-section border-right">
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Animals & Pets</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Architecture</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Art & Abstract</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Cars & vehicles</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Cultural & History</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Electronics & Gadgets</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Fashion & Style</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    >Buy Courses <i class="fa fa-angle-down"></i
                  ></a>
                  <ul class="dropdown-menu custom-dropdown" role="menu">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <ul class="dropdown-section bg-gradient-purple">
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Popular</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Staff picks</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Downloadable</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-listine-dots"></i>
                              Collections</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Staff picks</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Downloadable</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-listine-dots"></i>
                              Collections</a
                            >
                          </li>
                        </ul>
                     
                      </div>
                      <div class="col-md-4">
                        <ul class="dropdown-section border-right">
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Animals & Pets</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Architecture</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Art & Abstract</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Cars & vehicles</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Cultural & History</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Electronics & Gadgets</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Fashion & Style</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <ul class="dropdown-section border-right">
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Animals & Pets</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Architecture</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Art & Abstract</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Cars & vehicles</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Cultural & History</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Electronics & Gadgets</a
                            >
                          </li>
                          <li class="dropdown-item">
                            <a href="index.html">
                              <i class="icofont-star"></i>
                              Fashion & Style</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    >For Business <i class="fa fa-angle-down"></i
                  ></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="typography.html">Enterprise Solutions</a></li>
                    <li><a href="404.html">KnockItOff for Teams</a></li>
                    <li><a href="404.html">Mentor</a></li>
                    <li><a href="404.html">Pricing</a></li>
                    <li><a href="404.html">Customer Stories</a></li>
                    <li><a href="404.html">eCommerce</a></li>
                  </ul>
                </li>
                <div class="mobile-menu nav navbar-nav">
                  <li><a href="contact.html">Login</a></li>
                  <li><a href="contact.html">Signup</a></li>
                </div>
               

                <!--                               
                                <li><a href="contact.html">Login</a></li>
            <li><a href="contact.html">Signup</a></li> -->
              </ul>
              <!--/ Nav ul end -->
            </div>
            <!--/ Collapse end -->
          </div>
          <!-- Site Navbar inner end -->

          <div class="site-nav-inner pull-right right-menu">
            <div class="collapse navbar-collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">
                <li class="shopping-cart">
                  <a href="contact.html"
                    ><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                </li>
                <li><a href="contact.html">Login</a></li>
                <li><a href="contact.html">Signup</a></li>
              </ul>
              <!--/ Nav ul end -->
            </div>
            <!--/ Collapse end -->
          </div>
          <!-- Site Navbar inner end -->
        </div>
        <!--/ Col end -->
      </div>
      <!--/ Row end -->

      <div class="nav-search">
        <span id="search"><i class="fa fa-search"></i></span>
      </div>
      <!-- Search end -->

      <div class="search-block" style="display: none;">
        <input
          type="text"
          class="form-control"
          placeholder="Type what you want and enter"
        />
        <span class="search-close">&times;</span>
      </div>
      <!-- Site search end -->
    </div>
    <!--/ Container end -->
  </nav>
  <!--/ Navigation end -->
</header>
<!--/ Header end -->
