.right-menu{
    margin-right: 32px;
}

.fa-shopping-cart{
    font-size: 2rem;
}

#header{
    position: relative;
}

.logo{
    position: absolute;
    left: 0;
    top: 50%;display: none;
    transform: translateY(-50%);
}
.custom-dropdown{
    min-width: 700px;
    max-width: 100%;
    padding: 0;
    border-top: none;
}
.dropdown-section{
    padding: 0;
    list-style: none;
    padding: 2rem 2rem;
    
    .dropdown-item{
        i{
            font-size:1.5rem;
            margin-right: 2px;
        }
        a{
            padding: 0.5rem 0;
            border-bottom: none;
            font-weight: 500;
            margin-bottom: 4px;

           
        }

    }
}

.bg-gradient-blue,.bg-gradient-purple{
    .dropdown-item {a{
        color: #fff !important;
        font-weight: 600;
        opacity: 0.8;
        &:hover{
            opacity: 1;
        }
    }}
}
.mobile-menu{
    display: none;
}

@media all and (max-width:991px){
    .right-menu{
        display: none;
    }
    .mobile-menu{
        display: block;
        a{
            font-weight: 600;
        }
    }
    .header-transparent{
        padding: 1rem 0;
    }
    .shopping-cart{
        display: none;
    }

    .dropdown-section {
        padding: 2rem 0;
        .dropdown-item {

a{
    border-bottom: none;
}
            i {
                font-size: 1.5rem;
                margin-right: 0px;
                float: left;
                background: transparent;
            }
        } 
    } 
    
}