<footer id="footer" class="footer">
  <div class="footer-main">
    <div class="container">
        <div class=" text-center call-to-action-text">
            <h2 class="section-sub-title">Join Millions of Learners</h2>
           <a href="" class="btn btn-primary">Join Now</a>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-12 footer-widget footer-about">
          <h3 class="widget-title">About Us</h3>
          <!-- <img class="footer-logo" src="assets/images/footer-logo.png" alt="" /> -->
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor inci done idunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <!-- Col end -->
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3 col-sm-12 footer-widget">
                <h3 class="widget-title">ECOSYSTEM</h3>
                <ul class="list-arrow">
                  <li><a href="service-single.html">Mentors</a></li>
                  <li><a href="service-single.html">Students</a></li>
                  <li><a href="service-single.html">Mobile App</a></li>
                  <li><a href="service-single.html">Top Courses</a></li>
                  <li><a href="service-single.html">Developers & API</a></li>
                </ul>
              </div>
            <!-- Col end -->

            <div class="col-md-3 col-sm-12 footer-widget">
              <h3 class="widget-title">STORE</h3>
              <ul class="list-arrow">
                <li><a href="service-single.html">Explore</a></li>
                <li><a href="service-single.html">Buy Courses</a></li>
                <li><a href="service-single.html">Best Selling</a></li>
                <li><a href="service-single.html">Categories</a></li>
                <li><a href="service-single.html">Become a Seller</a></li>
                
              </ul>
            </div>
            <!-- Col end -->

            <div class="col-md-3 col-sm-12 footer-widget">
                <h3 class="widget-title">COMMUNITY</h3>
                <ul class="list-arrow">
                  <li><a href="service-single.html">Explore</a></li>
                  <li><a href="service-single.html">Help Center</a></li>
                  <li><a href="service-single.html">Education</a></li>
                  <li><a href="service-single.html">Museums</a></li>
                  <li><a href="service-single.html">Blog</a></li>
                  <li><a href="service-single.html">Forum</a></li>
                </ul>
              </div>
              <!-- Col end -->

              <div class="col-md-3 col-sm-12 footer-widget">
                <h3 class="widget-title">ABOUT</h3>
                <ul class="list-arrow">
                  <li><a href="service-single.html">Company</a></li>
                  <li><a href="service-single.html">Careers</a></li>
                  <li><a href="service-single.html">Team</a></li>
                  <li><a href="service-single.html">Features</a></li>
                </ul>
              </div>
              <!-- Col end -->
          </div>
        </div>
      </div>
      <!-- Row end -->
    </div>
    <!-- Container end -->
  </div>
  <!-- Footer main end -->

  <div class="copyright">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="copyright-info">
            <span>
              &copy; 2020 - <a href="/" class="brand-link">Knock It Off</a> - All Rights
              reserved</span
            >
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="footer-menu">
            <ul class="nav unstyled">
              <li><a href="about.html">Terms of service</a></li>
              <li><a href="team.html">Refund policy</a></li>
              <li><a href="faq.html">Privacy policy</a></li>
              <li><a href="news-left-sidebar.html">Sitemap</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-5 text-right">
          <div class="footer-social">
            <ul>
              <li>
                <a href="https://facebook.com/themefisher"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/themefisher"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="https://instagram.com/themefisher"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="https://github.com/themefisher"
                  ><i class="fa fa-github"></i
                ></a>
              </li>
            </ul>
          </div>
          <!-- Footer social end -->
        </div>
      </div>
      <!-- Row end -->
    </div>
    <!-- Container end -->
  </div>
  <!-- Copyright end -->
</footer>
<!-- Footer end -->
