<!-- Carousel -->
<div id="main-slide" class="carousel slide" data-ride="carousel">

    <svg class="hero__logo" x="0px" y="0px" viewBox="0 0 90.2 106.9">
        <polygon fill="#FFFFFF" points="88.4,26.5 45.1,53 1.9,26.5 45.1,0 "></polygon>
        <polygon fill="#FFFFFF" points="0,38.6 38.7,62.8 38.7,106.9 0,82.8 "></polygon>
        <polygon fill="#FFFFFF" points="50,106.9 50,62.8 90.2,38.6 90.2,82.8 "></polygon>
    </svg>

    <!-- Indicators -->
    <ol class="carousel-indicators visible-lg visible-md">
        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
        <li data-target="#main-slide" data-slide-to="1"></li>
        <li data-target="#main-slide" data-slide-to="2"></li>
    </ol>
    <!--/ Indicators end-->
    <div class="container">
<!-- Carousel inner -->
<div class="carousel-inner">

    <div class="item active" style="background:transparent">
        <div class="slider-content">
            <div class="col-md-12 text-left">
               
                <h3 class="slide-sub-title ">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                <p>
                    <a href="services.html" class="slider btn btn-primary border">Know More</a>
                   
                </p>
            </div>
        </div>
    </div>
    <!--/ Carousel item 1 end -->

    <div class="item" style="background:transparent">
        <div class="slider-content text-left">
            <div class="col-md-12">
                
                
                <h3 class="slide-sub-title ">Lorem ipsum dolor aliquid earum quae delectus dolorum?</h3>
                <p class="">
                    <a href="services.html" class="slider btn btn-primary border">Know More</a>
                </p>
            </div>
        </div>
    </div>
    <!--/ Carousel item 2 end -->

    <div class="item" style="background:transparent">
        <div class="slider-content text-left">
            <div class="col-md-12">
                
                <!-- <h3 class="slide-title ">When Service Matters</h3> -->
                <h3 class="slide-sub-title ">Lorem ipsum dolor sit amet.</h3>
                <p class="">
                    <a href="services.html" class="slider btn btn-primary border">Know More</a>
                </p>
            </div>
        </div>
    </div>
    <!--/ Carousel item 3 end -->

</div><!-- Carousel inner end-->
    </div>
    

    <!-- Controllers -->
    <a class="left carousel-control" href="#main-slide" data-slide="prev">
        <span><i class="fa fa-angle-left"></i></span>
    </a>
    <a class="right carousel-control" href="#main-slide" data-slide="next">
        <span><i class="fa fa-angle-right"></i></span>
    </a>
</div>
<!--/ Carousel end -->

<section class="call-to-action-box no-padding-top">
    <div class="container">
        <div class="action-style-box">
            <div class="row align-items-center">
               <div class="col-md-4">
                   <div class="text-center">
                       <img src="assets/images/vector/feature-1.svg" alt="" class="action-img">
                   </div>
                   <h2 class="text-center">
                       Lorem ipsum dolor sit amet.
                   </h2>
                   <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum repellat, enim alias eligendi, quas nulla, corporis hic expedita
                </p>
                <div class="text-center">
                    <a href="services.html" class=" btn btn-primary btn-sm border">Know More</a>
                </div>
               </div>
              
            <div class="col-md-4">
                <div class="text-center">
                    <img src="assets/images/vector/feature-3.svg" alt="" class="action-img">
                </div>
                <h2 class="text-center">
                    Lorem ipsum dolor sit amet.
                </h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum repellat, enim alias eligendi, quas nulla, corporis hic expedita
                </p>
                <div class="text-center">
                    <a href="services.html" class=" btn btn-dark btn-sm border">Know More</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text-center">
                    <img src="assets/images/vector/feature-2.svg" alt="" class="action-img">
                </div>
                <h2 class="text-center">
                    Lorem ipsum dolor sit amet.
                </h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum repellat, enim alias eligendi, quas nulla, corporis hic expedita
                </p>
                <div class="text-center">
                    <a href="services.html" class=" btn btn-primary btn-sm border">Know More</a>
                </div>
            </div>
            </div><!-- row end -->
        </div><!-- Action style box -->
    </div><!-- Container end -->
</section><!-- Action end -->



<section id="project-area" class="project-area solid-bg">
    <div class="container-fluid">
        <div class="text-center">
            <h2 class="section-sub-title">Join Millions of Learners</h2>
            <h3 class="section-title">Get inspired. Showcase your skills. Learn from millions of community members.</h3>
        </div>
        <!--/ Title row end -->

        
            <div class="isotope-nav" data-isotope-nav="isotope">
                <ul>
                    <div class="row no-gutters justify-content-center">
                        <div class="col-lg-2 col-md-4 col-6 text-center">
                            <li><a href="#" class="active" data-filter="*">Show All</a></li>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6 text-center">
                            <li><a href="#" data-filter=".frontend">Frontend Development</a></li>
                            </div>
                            <div class="col-lg-2 col-md-4 col-6 text-center">
                                <li><a href="#" data-filter=".backend">Backend Development</a></li>
                                </div>
                                <div class="col-lg-2 col-md-4 col-6 text-center">
                                    <li><a href="#" data-filter=".python">Python</a></li>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-6 text-center">
                                        <li><a href="#" data-filter=".datascience">Data Science</a></li>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6 text-center">
                                            <li><a href="#" data-filter=".coding">Basic Coding</a></li>
                                            </div>
                    </div>
                </ul>
            </div><!-- Isotope filter end -->

            <div id="isotope" class="isotope">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item" [ngClass]="item.class" *ngFor="let item of courses">
                        <div class="card">
                            <div class="isotope-img-container">
                                    <img class="img-responsive" [src]="item.img" alt="">
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h3 class="project-item-title">
                                            <a href="projects-single.html">{{item.title}}</a>
                                        </h3>
                                        <p class="project-cat">{{item.category}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-caption">
                                <div class="card-content default-content">
                                    <div class="card-title">
                                        <h5>
                                            {{item.title}}
                                        </h5>
                                    </div>
                                </div>
                                <div class="card-content hover-content">
                                    <div class="card-stats">
                                        <div class="rating icon-wrap">
                                            <h5>Rating</h5>
                                            <i class="fa fa-star text-primary" aria-hidden="true"></i>
                                            <span class="number">
                                                {{item.rating}}
                                            </span>
                                        </div>
                                       <div class="downloads icon-wrap">
                                        <h5>Downloads</h5>
                                        <i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: gold;"></i>
                                        <span class="number">
                                            {{item.downloads}}
                                        </span>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-dialog">
                            <h5 class="title">
                                {{item.title}}
                            </h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="category">
                                    {{item.category}}
                                </div>
                                <div class="date">
                                    <i class="icofont-ui-calendar"></i>
                                    {{item.date}}
                                </div>
                            </div>

                            <h6 class="duration">
                                <i class="icofont-clock-time"></i>
                                {{item.duration}} hours
                            </h6>

                            <p class="desc">
                                {{item.desc}}
                            </p>

                            <div class="features">
                                <div class="list-item" *ngFor="let feature of item.features">
                                    <i class="icon fa fa-check"></i>
                                    <p>{{feature}}</p>
                                </div>
                            </div>
                           
                        </div>
                    </div><!-- Isotope item 1 end -->
                </div>
            </div><!-- Isotop end -->

            <div class="general-btn text-center">
                <a class="btn btn-primary" href="projects.html">View All Courses</a>
            </div>

       
    </div>
    <!--/ Container end -->
</section><!-- Project area end -->


<section class="steps-section pb-2">
    <div class="container">
        <h2 class="section-sub-title text-center">Share your knowledge in simple 5 steps</h2>
   
    <div class="steps-heading">
        <div class="md-stepper-horizontal blue">
            <div class="md-step" (click)="step=1" [class.active]="step == 1">
              <div class="md-step-circle"><span>1</span></div>
              <div class="md-step-title">Create a course for free</div>
              <div class="md-step-bar-left"></div>
              <div class="md-step-bar-right"></div>
            </div>
            <div class="md-step" (click)="step=2" [class.active]="step == 2">
              <div class="md-step-circle"><span>2</span></div>
              <div class="md-step-title">Upload your content</div>
              <div class="md-step-bar-left"></div>
              <div class="md-step-bar-right"></div>
            </div>
            <div class="md-step" (click)="step=3" [class.active]='step==3'>
              <div class="md-step-circle"><span>3</span></div>
              <div class="md-step-title">Make your school beautiful</div>
              <div class="md-step-bar-left"></div>
              <div class="md-step-bar-right"></div>
            </div>
            <div class="md-step" (click)="step=4" [class.active]="step == 4">
              <div class="md-step-circle"><span>4</span></div>
              <div class="md-step-title">Engage your students</div>
              <div class="md-step-bar-left"></div>
              <div class="md-step-bar-right"></div>
            </div>
            <div class="md-step" (click)="step=5" [class.active]="step == 5">
                <div class="md-step-circle"><span>5</span></div>
                <div class="md-step-title">Share knowledge and be rewarded</div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
              </div>
          </div>
        
    </div>
    <div class="steps-container" [ngSwitch]="step">
        <div class="single-step" *ngSwitchCase="1">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="step-img">
                        <img src="assets/images/vector/step-1.svg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="step-content">
                        <h3 class="medium-heading">
                            Create a course for free
                        </h3>
                        <p class="step-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem hic ducimus quos quisquam! Consequuntur veniam a ipsum, pariatur esse explicabo.
                        </p>

                        <a class="btn btn-primary mt-4" (click)="step=step+1">Next Step &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-step" *ngSwitchCase="2">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="step-img">
                        <img src="assets/images/vector/step-2.svg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="step-content">
                        <h3 class="text-purple medium-heading">
                            Upload your content
                        </h3>
                        <p class="step-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem hic ducimus quos quisquam! Consequuntur veniam a ipsum, pariatur .
                        </p>
                        <div class="d-flex justify-content-between">
                        <a class="btn btn-dark mt-4" (click)="step=step-1"> &larr; Previous Step</a>
                        <a class="btn btn-primary btn-purple mt-4" (click)="step=step+1">Next Step &rarr;</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-step" *ngSwitchCase="3">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="step-img">
                        <img src="assets/images/vector/step-3.svg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="step-content">
                        <h3 class="medium-heading">
                            Make your school beautiful
                        </h3>
                        <p class="step-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem hic ducimus quos quisquam! Consequuntur veniam a ipsum, pariatur esse explicabo.
                        </p>
                        <div class="d-flex justify-content-between">
                        <a class="btn btn-dark mt-4" (click)="step=step-1"> &larr; Previous Step</a>
                        <a class="btn btn-primary mt-4" (click)="step=step+1">Next Step &rarr;</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-step" *ngSwitchCase="4">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="step-img">
                        <img src="assets/images/vector/step-4.svg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="step-content">
                        <h3 class="text-purple medium-heading">
                            Engage your students
                        </h3>
                        <p class="step-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem hic ducimus quos quisquam! Consequuntur veniam a ipsum, pariatur esse explicabo.
                        </p>
                        <div class="d-flex justify-content-between">
                        <a class="btn btn-dark mt-4" (click)="step=step-1"> &larr; Previous Step</a>
                        <a class="btn btn-primary btn-purple mt-4" (click)="step=step+1">Next Step &rarr;</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-step" *ngSwitchCase="5">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="step-img">
                        <img src="assets/images/vector/step-5.svg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="step-content">
                        <h3 class="medium-heading">
                            Share knowledge and be rewarded
                        </h3>
                        <p class="step-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem hic ducimus quos quisquam! Consequuntur veniam a ipsum, pariatur esse explicabo.
                        </p>
                        
                        <a class="btn btn-dark mt-4" (click)="step=step-1"> &larr; Previous Step</a>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>

</div>
</section>


<section class="features-section">
    <div class="container">
        <div class="feature">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="feature-img">
                        <img src="https://themes-backend.material-ui.com/wp-content/uploads/2020/03/1000x555-3.png" alt="">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <h2 class="medium-heading">Meet the best mentors in the world</h2>
                        <p class="mt-4">Fast, efficient, performant. Our powerful viewer embeds seamlessly everywhere.</p>
                        <div class="list-item mt-1">
                            <i class="icon fa fa-check"></i>
                            <p>No plugin required</p>
                        </div>
                        <div class="list-item mt-1">
                            <i class="icon fa fa-check"></i>
                            <p> Cross-browser compatible</p>
                        </div>
                        <div class="list-item mt-1">
                            <i class="icon fa fa-check"></i>
                            <p> 3D Audio and annotation support</p>
                        </div>
                        <div class="list-item mt-1">
                            <i class="icon fa fa-check"></i>
                            <p> VR and AR Support</p>
                        </div>
                        <div class="list-item mt-1">
                            <i class="icon fa fa-check"></i>
                            <p> Mobile support</p>
                        </div>
                        <div class="feature-btn">
                        <a class="btn btn-primary mt-4" href="">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature">
            <div class="row align-items-center">
                <div class="col-lg-5 order-lg-first">
                    <div class="">
                        <h2 class="medium-heading">3D Products in eCommerce</h2>
                        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit aliquam quasi vitae laudantium asperiores nesciunt commodi expedita necessitatibus accusantium provident voluptatibus nemo aut officiis ipsam, minus animi similique possimus deserunt dolorem beatae. Earum necessitatibus odio esse nisi quae, accusamus veritatis cumque minima, eum omnis nulla unde ipsum cupiditate, eligendi quas!</p>
                        <div class="feature-btn">
                        <a class="btn btn-primary mt-4" href="">Get in Touch</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 order-first">
                    <div class="feature-img">
                        <img src="https://icdn1.digitaltrends.com/image/digitaltrends/screen-shot-2018-08-16-at-4-56-09-pm-2880x1800.png" alt="">
                    </div>
                </div>
               
            </div>
        </div>
        <div class="feature">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="feature-img">
                        <img src="https://img.atpsoftware.vn/2019/04/adobe-spark-review-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <h2 class="medium-heading">3D Products Configuraters</h2>
                        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit aliquam quasi vitae laudantium asperiores nesciunt commodi expedita necessitatibus accusantium provident voluptatibus nemo aut officiis ipsam, minus animi similique possimus deserunt dolorem beatae. Earum necessitatibus odio esse.</p>
                        <div class="feature-btn">
                            <a class="btn btn-primary mt-4" href="">Learn More</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner-section">
    <div class="container">
        <div class="banner-wrap bg-gradient-blue-dark">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="text-white">
                        Need More Information?
                    </h2>
                    <h5 class="text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, minima!
                    </h5>
                    <div class="banner-btn">
                        <a class="btn btn-primary mt-4" href="projects.html">Get in Touch</a>
                    </div>
                   
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="banner-item">
                                        <div class="item-img">
                                            <img src="assets/images/icons/crown.svg" alt="">
                                        </div>
                                        <h5 class="item-text">
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, unde.
                                        </h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner-item">
                                        <div class="item-img">
                                            <img src="assets/images/icons/metal-gear.svg" alt="">
                                        </div>
                                        <h5 class="item-text">
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, unde.
                                        </h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner-item">
                                        <div class="item-img">
                                            <img src="assets/images/icons/coding.svg" alt="">
                                        </div>
                                        <h5 class="item-text">
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, unde.
                                        </h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner-item">
                                        <div class="item-img">
                                            <img src="assets/images/icons/monitor.svg" alt="">
                                        </div>
                                        <h5 class="item-text">
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, unde.
                                        </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="client-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-sub-title">Trusted by Leading Brands</h2>
        </div>
        <div class="row mt-4">
            <div class="col-lg-2 col-md-3 col-6 text-center">
                <div class="client-img">
                    <img src="https://www.logaster.com/blog/wp-content/uploads/2020/03/the-4th-logo-1024x862.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 text-center">
                <div class="client-img">
                    <img src="https://www.logaster.com/blog/wp-content/uploads/2020/03/the-4th-logo-1024x862.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 text-center">
                <div class="client-img">
                    <img src="https://www.logaster.com/blog/wp-content/uploads/2020/03/the-4th-logo-1024x862.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 text-center">
                <div class="client-img">
                    <img src="https://www.logaster.com/blog/wp-content/uploads/2020/03/the-4th-logo-1024x862.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 text-center">
                <div class="client-img">
                    <img src="https://www.logaster.com/blog/wp-content/uploads/2020/03/the-4th-logo-1024x862.jpg" alt="">
                </div>
            </div>
             <div class="col-lg-2 col-md-3 col-6 text-center">
                <div class="client-img">
                    <img src="https://www.logaster.com/blog/wp-content/uploads/2020/03/the-4th-logo-1024x862.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 text-center">
                <div class="client-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Intel-logo.svg/1200px-Intel-logo.svg.png" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 text-center">
                <div class="client-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Intel-logo.svg/1200px-Intel-logo.svg.png" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 text-center">
                <div class="client-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Intel-logo.svg/1200px-Intel-logo.svg.png" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 text-center">
                <div class="client-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Intel-logo.svg/1200px-Intel-logo.svg.png" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 text-center">
                <div class="client-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Intel-logo.svg/1200px-Intel-logo.svg.png" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 text-center">
                <div class="client-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Intel-logo.svg/1200px-Intel-logo.svg.png" alt="">
                </div>
         
        </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-primary" href="">Read Our Customer Stories</a>
        </div>
    </div>
</section>
<hr>
<section class="category-section">
<div class="container">
    <div class="catergory-card">
        <div class="row">
          
            <div class="col-lg-3 col-md-6 col-6">
                <div class="category-section">
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                  
                   
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <div class="category-section">
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                  
                   
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <div class="category-section">
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                  
                   
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <div class="category-section bg-gradient-purple">
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                    <div class="category-item">
                        <a href="">
                            <i class="icofont-star"></i>
                            BestSeller
                           </a>
                    </div>
                  
                   
                </div>
            </div>
        </div>
    </div>
    <div class="general-btn text-center">
        <a class="btn btn-primary btn-purple" href="projects.html">Browse Our Store</a>
    </div>
</div>
   
</section>

