<!-- Carousel -->
<div id="main-slide" class="carousel slide" data-ride="carousel">

    <svg class="hero__logo" x="0px" y="0px" viewBox="0 0 90.2 106.9">
        <polygon fill="#FFFFFF" points="88.4,26.5 45.1,53 1.9,26.5 45.1,0 "></polygon>
        <polygon fill="#FFFFFF" points="0,38.6 38.7,62.8 38.7,106.9 0,82.8 "></polygon>
        <polygon fill="#FFFFFF" points="50,106.9 50,62.8 90.2,38.6 90.2,82.8 "></polygon>
    </svg>

    <!-- Indicators -->
    <ol class="carousel-indicators visible-lg visible-md">
        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
        <li data-target="#main-slide" data-slide-to="1"></li>
        <li data-target="#main-slide" data-slide-to="2"></li>
    </ol>
    <!--/ Indicators end-->

    <!-- Carousel inner -->
    <div class="carousel-inner">

        <div class="item active" style="background:transparent">
            <div class="slider-content">
                <div class="col-md-12 text-left">
                   
                    <h3 class="slide-sub-title ">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                    <p>
                        <a href="services.html" class="slider btn btn-primary border">Know More</a>
                       
                    </p>
                </div>
            </div>
        </div>
        <!--/ Carousel item 1 end -->

        <div class="item" style="background:transparent">
            <div class="slider-content text-left">
                <div class="col-md-12">
                    
                    
                    <h3 class="slide-sub-title ">Lorem ipsum dolor aliquid earum quae delectus dolorum?</h3>
                    <p class="">
                        <a href="services.html" class="slider btn btn-primary border">Know More</a>
                    </p>
                </div>
            </div>
        </div>
        <!--/ Carousel item 2 end -->

        <div class="item" style="background:transparent">
            <div class="slider-content text-left">
                <div class="col-md-12">
                    
                    <!-- <h3 class="slide-title ">When Service Matters</h3> -->
                    <h3 class="slide-sub-title ">Lorem ipsum dolor sit amet.</h3>
                    <p class="">
                        <a href="services.html" class="slider btn btn-primary border">Know More</a>
                    </p>
                </div>
            </div>
        </div>
        <!--/ Carousel item 3 end -->

    </div><!-- Carousel inner end-->

    <!-- Controllers -->
    <a class="left carousel-control" href="#main-slide" data-slide="prev">
        <span><i class="fa fa-angle-left"></i></span>
    </a>
    <a class="right carousel-control" href="#main-slide" data-slide="next">
        <span><i class="fa fa-angle-right"></i></span>
    </a>
</div>
<!--/ Carousel end -->

<section class="call-to-action-box no-padding-top">
    <div class="container">
        <div class="action-style-box">
            <div class="row align-items-center">
               <div class="col-md-4">
                   <div class="text-center">
                       <img src="assets/images/vector/feature-1.svg" alt="" class="feature-img">
                   </div>
                   <h2 class="text-center">
                       Lorem ipsum dolor sit amet.
                   </h2>
                   <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum repellat, enim alias eligendi, quas nulla, corporis hic expedita
                </p>
                <div class="text-center">
                    <a href="services.html" class=" btn btn-primary btn-sm border">Know More</a>
                </div>
               </div>
              
            <div class="col-md-4">
                <div class="text-center">
                    <img src="assets/images/vector/feature-3.svg" alt="" class="feature-img">
                </div>
                <h2 class="text-center">
                    Lorem ipsum dolor sit amet.
                </h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum repellat, enim alias eligendi, quas nulla, corporis hic expedita
                </p>
                <div class="text-center">
                    <a href="services.html" class=" btn btn-dark btn-sm border">Know More</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text-center">
                    <img src="assets/images/vector/feature-2.svg" alt="" class="feature-img">
                </div>
                <h2 class="text-center">
                    Lorem ipsum dolor sit amet.
                </h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum repellat, enim alias eligendi, quas nulla, corporis hic expedita
                </p>
                <div class="text-center">
                    <a href="services.html" class=" btn btn-primary btn-sm border">Know More</a>
                </div>
            </div>
            </div><!-- row end -->
        </div><!-- Action style box -->
    </div><!-- Container end -->
</section><!-- Action end -->



<section id="project-area" class="project-area solid-bg">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-sub-title">Join Millions of Learners</h2>
            <h3 class="section-title">Get inspired. Showcase your skills. Learn from millions of community members.</h3>
        </div>
        <!--/ Title row end -->

        <div class="row">
            <div class="isotope-nav" data-isotope-nav="isotope">
                <ul>
                    <li><a href="#" class="active" data-filter="*">Show All</a></li>
                    <li><a href="#" data-filter=".commercial">Commercial</a></li>
                    <li><a href="#" data-filter=".education">Education</a></li>
                    <li><a href="#" data-filter=".government">Government</a></li>
                    <li><a href="#" data-filter=".infrastructure">Infrastructure</a></li>
                    <li><a href="#" data-filter=".residential">Residential</a></li>
                    <li><a href="#" data-filter=".healthcare">Healthcare</a></li>
                </ul>
            </div><!-- Isotope filter end -->


            <div id="isotope" class="isotope">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 commercial isotope-item">
                    <div class="card">
                        <div class="isotope-img-container">
                            <a class="gallery-popup" href="assets/images/projects/project1.jpg">
                                <img class="img-responsive" src="assets/images/projects/project1.jpg" alt="">
                                <!-- <span class="gallery-icon"><i class="fa fa-eye"></i></span> -->
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Lorem ipsum dolor sit, amet consectetur </a>
                                    </h3>
                                    <p class="project-cat">Commercial, Interiors</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-caption">
                            <div class="card-content default-content">
                                <div class="card-title">
                                    <h5>
                                        Lorem, ipsum...
                                    </h5>
                                </div>
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                            <div class="card-content hover-content">
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <h5>Rating</h5>
                                        <i class="fa fa-star text-primary" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <h5>Downloads</h5>
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: gold;"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div><!-- Isotope item 1 end -->

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 education isotope-item">
                    <div class="card">
                        <div class="isotope-img-container">
                            <a class="gallery-popup" href="assets/images/projects/project2.jpg">
                                <img class="img-responsive" src="assets/images/projects/project2.jpg" alt="">
                                <!-- <span class="gallery-icon"><i class="fa fa-eye"></i></span> -->
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Lorem ipsum dolor sit, amet consectetur </a>
                                    </h3>
                                    <p class="project-cat">education</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-caption">
                            <div class="card-content default-content">
                                <div class="card-title">
                                    <h5>
                                        Lorem, ipsum...
                                    </h5>
                                </div>
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                            <div class="card-content hover-content">
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <h5>Rating</h5>
                                        <i class="fa fa-star text-primary" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <h5>Downloads</h5>
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: gold;"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div><!-- Isotope item 1 end -->

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 government isotope-item">
                    <div class="card">
                        <div class="isotope-img-container">
                            <a class="gallery-popup" href="assets/images/projects/project4.jpg">
                                <img class="img-responsive" src="assets/images/projects/project4.jpg" alt="">
                                <!-- <span class="gallery-icon"><i class="fa fa-eye"></i></span> -->
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Lorem ipsum dolor sit, amet consectetur </a>
                                    </h3>
                                    <p class="project-cat">government</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-caption">
                            <div class="card-content default-content">
                                <div class="card-title">
                                    <h5>
                                        Lorem, ipsum...
                                    </h5>
                                </div>
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                            <div class="card-content hover-content">
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <h5>Rating</h5>
                                        <i class="fa fa-star text-primary" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <h5>Downloads</h5>
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: gold;"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div><!-- Isotope item 1 end -->

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 infrastructure isotope-item">
                    <div class="card">
                        <div class="isotope-img-container">
                            <a class="gallery-popup" href="assets/images/projects/project7.jpg">
                                <img class="img-responsive" src="assets/images/projects/project1.jpg" alt="">
                                <!-- <span class="gallery-icon"><i class="fa fa-eye"></i></span> -->
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Lorem ipsum dolor sit, amet consectetur </a>
                                    </h3>
                                    <p class="project-cat">infrastructure</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-caption">
                            <div class="card-content default-content">
                                <div class="card-title">
                                    <h5>
                                        Lorem, ipsum...
                                    </h5>
                                </div>
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                            <div class="card-content hover-content">
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <h5>Rating</h5>
                                        <i class="fa fa-star text-primary" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <h5>Downloads</h5>
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: gold;"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div><!-- Isotope item 1 end -->

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 residential isotope-item">
                    <div class="card">
                        <div class="isotope-img-container">
                            <a class="gallery-popup" href="assets/images/projects/project1.jpg">
                                <img class="img-responsive" src="assets/images/projects/project6.jpg" alt="">
                                <!-- <span class="gallery-icon"><i class="fa fa-eye"></i></span> -->
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Lorem ipsum dolor sit, amet consectetur </a>
                                    </h3>
                                    <p class="project-cat">residential</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-caption">
                            <div class="card-content default-content">
                                <div class="card-title">
                                    <h5>
                                        Lorem, ipsum...
                                    </h5>
                                </div>
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                            <div class="card-content hover-content">
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <h5>Rating</h5>
                                        <i class="fa fa-star text-primary" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <h5>Downloads</h5>
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: gold;"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div><!-- Isotope item 1 end -->

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 healthcare isotope-item">
                    <div class="card">
                        <div class="isotope-img-container">
                            <a class="gallery-popup" href="assets/images/projects/project1.jpg">
                                <img class="img-responsive" src="assets/images/projects/project4.jpg" alt="">
                                <!-- <span class="gallery-icon"><i class="fa fa-eye"></i></span> -->
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Lorem ipsum dolor sit, amet consectetur </a>
                                    </h3>
                                    <p class="project-cat">healthcare</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-caption">
                            <div class="card-content default-content">
                                <div class="card-title">
                                    <h5>
                                        Lorem, ipsum...
                                    </h5>
                                </div>
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                            <div class="card-content hover-content">
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <h5>Rating</h5>
                                        <i class="fa fa-star text-primary" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <h5>Downloads</h5>
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: gold;"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div><!-- Isotope item 1 end -->

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 infrastructure isotope-item">
                    <div class="card">
                        <div class="isotope-img-container">
                            <a class="gallery-popup" href="assets/images/projects/project1.jpg">
                                <img class="img-responsive" src="assets/images/projects/project3.jpg" alt="">
                                <!-- <span class="gallery-icon"><i class="fa fa-eye"></i></span> -->
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Lorem ipsum dolor sit, amet consectetur </a>
                                    </h3>
                                    <p class="project-cat">infrastructure</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-caption">
                            <div class="card-content default-content">
                                <div class="card-title">
                                    <h5>
                                        Lorem, ipsum...
                                    </h5>
                                </div>
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                            <div class="card-content hover-content">
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <h5>Rating</h5>
                                        <i class="fa fa-star text-primary" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <h5>Downloads</h5>
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: gold;"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div><!-- Isotope item 1 end -->

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 residential isotope-item">
                    <div class="card">
                        <div class="isotope-img-container">
                            <a class="gallery-popup" href="assets/images/projects/project1.jpg">
                                <img class="img-responsive" src="assets/images/projects/project2.jpg" alt="">
                                <!-- <span class="gallery-icon"><i class="fa fa-eye"></i></span> -->
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Lorem ipsum dolor sit, amet consectetur </a>
                                    </h3>
                                    <p class="project-cat">residential</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-caption">
                            <div class="card-content default-content">
                                <div class="card-title">
                                    <h5>
                                        Lorem, ipsum...
                                    </h5>
                                </div>
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                            <div class="card-content hover-content">
                                <div class="card-stats">
                                    <div class="rating icon-wrap">
                                        <h5>Rating</h5>
                                        <i class="fa fa-star text-primary" aria-hidden="true"></i>
                                        <span class="number">
                                            4.9
                                        </span>
                                    </div>
                                   <div class="downloads icon-wrap">
                                    <h5>Downloads</h5>
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: gold;"></i>
                                    <span class="number">
                                        748
                                    </span>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div><!-- Isotope item 1 end -->

              
            </div><!-- Isotop end -->

            <div class="general-btn text-center">
                <a class="btn btn-primary" href="projects.html">View All Courses</a>
            </div>

        </div><!-- Content row end -->
    </div>
    <!--/ Container end -->
</section><!-- Project area end -->

